<!-- <div class="row w-100 h-100 m-0">
  <div class="col-md-2 p-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10 p-0">
    <app-appbar></app-appbar>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div> -->

<div class="grid">
  <div class="grid-menu">
    <app-sidebar></app-sidebar>
  </div>
  <div class="grid-body">
    <app-appbar></app-appbar>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>
