<div class="body">
  <div class="login">
    <h1>Iniciar sesión</h1>
    <form [formGroup]="frmDatos" (ngSubmit)="onIniciarSesion(frmDatos.value)">
      <input type="text" formControlName="usuario" name="u" placeholder="Usuario" required="required" />
      <input type="password" formControlName="clave" name="p" placeholder="Contraseña" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large" [disabled]="frmDatos.invalid">Iniciar sesión</button>
    </form>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="existeError">
      Usuario y/o contraseña incorrectos
    </div>
  </div>


</div>
