.contenido {
  background: #10101c;
  // position: fixed;
  bottom: 0;
  width: 100%;
}

.txtFooter {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #70708a;
  border-top: 1px solid #222235;
  margin: 0%;
  padding: 1%;
}
