<div class="contenido">
  <div class="boxStart">
    <input type="text" placeholder="Buscar..." class="form-control input">
  </div>
  <div class="boxEnd">
    <div class="boxBell">
      <i class="fas fa-bell"></i>
    </div>
    <div class="boxImg ml-3">
      <img class="imgAvatar"
        src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairFrizzle&accessoriesType=Round&hairColor=PastelPink&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=CollarSweater&clotheColor=Gray02&eyeType=Surprised&eyebrowType=UpDownNatural&mouthType=Vomit&skinColor=Pale' />
    </div>
  </div>
</div>
